<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yumeng.libbase">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application>
        <activity
            android:name=".activity.telphone.TelephoneCodeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.EditContentActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.matisse.MatisseActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="com.yumeng.tillo.QRCodeScanActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />

        <activity
            android:name=".activity.scan.CustomUCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${PACKAGE_NAME}.workmanager-init"
            android:exported="false"
            tools:node="remove" />

    </application>

</manifest>
